/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border;
}

@layer base {
	.btn {
		@apply transition-all duration-150;
	}
}

@layer components {
	.btn {
		svg {
			@apply rounded-none;
		}
	}

	.feature-container-card {
		@apply relative bg-base-100 transition-all duration-100;

		&:hover {
			@apply shadow-lg;

			&::after {
				@apply blur-sm;
			}
		}

		&::after {
			@apply transition-all duration-100 absolute rounded-2xl bg-gradient-to-t from-primary/20 to-primary;
			top: -2px;
			bottom: -2px;
			left: -2px;
			right: -2px;
			content: '';
			z-index: -1;
		}
	}
}

@layer utilities {

	.btn-primary {
		@apply relative;

		&::before {
			content: '';
			@apply transition-all duration-150 border-4 border-transparent blur-md w-full h-full absolute;
		}

		&:hover {
			&::before {
				content: '';
				@apply border-4 border-primary blur-md w-full h-full absolute;
			}
		}
	}

	.btn-error {
		@apply relative;

		&::before {
			content: '';
			@apply transition-all duration-150 border-4 border-transparent blur-md w-full h-full absolute;
		}

		&:hover {
			&::before {
				content: '';
				@apply border-4 border-error blur-md w-full h-full absolute;
			}
		}
	}
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	@apply bg-base-100;
}

::-webkit-scrollbar-thumb {
	@apply rounded-lg bg-primary/50;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-primary/100;
}